<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="filePath" source="logging.file.path"/>

    <appender name="TRANSACTION" class="ch.qos.logback.core.ConsoleAppender">
        <!--Mac 권한 문제로 Console 출력으로 변경 -->
        <!--    <appender name="TRANSACTION" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <file>${filePath}/accountservice/transaction.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-20([%thread]) %logger - %msg%n%ex{20}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${filePath}/accountservice/transaction-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="TRANSACTION"/>
    </root>

    <logger name="com.zayden.bankserviceaccountservice.helper.LoggerHelper.TRANSACTION" additivity="false">
        <level value = "INFO" />
        <appender-ref ref="TRANSACTION" />
    </logger>

</configuration>